@media (min-width:768) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

.contenido {
  display: flex;
  flex-direction: colu;
  align-items: center;
}
@media (min-width:1200px) {
  .contenido {
    grid-column: 2 / 3;
  }
}