.footer {
  background-color: var(--negro);
  padding: 5rem 0;
  margin-top: 5rem;
}

.icon {
  background-image: url("../public/img/instagram-brands.svg");
  padding: 2rem;
  padding-bottom: 0;
  font-size: 24px;
}
@media(min-width:768px) {
  .icon {
    padding: 3rem;
    padding-bottom: 0;
    padding

  }
}