.footer {
  background-color: var(--negro);
  padding: 5rem 0;
  margin-top: 5rem;
}



.list {
  display: flex;
  gap: 4rem;
}

.iconoInsta {
  background-image: url("../public/img/instagram-brands.svg");
  padding: 20px 20px 0px; 
  margin: 30px -20px 0px 0px;
  margin-top: 3rem;
  padding-bottom: 0;
  font-size: 24px;
  margin-right: -2rem;
}

.iconoFace {
  background-image: url("../public/img/facebook-square-brands.svg");
  padding: 20px 20px 0px; 
  margin: 30px -20px 0px 0px;
  margin-top: 3rem;
  padding-bottom: 0;
  font-size: 24px;
  margin-right: ;
}