.footer {
  background-color: var(--negro);
  padding: 5rem 0;
  margin-top: 5rem;
}

.i {
  background-image: url("../public/img/instagram-brands.svg");
  padding: 2em; 
  margin-top: 3rem;
  padding-bottom: 0;
  font-size: 24px;

}
@media(min-width:768px) {
  .i {
    padding: 1rem;
    padding-bottom: 0 0 0 0;
    padding-block-start: 0;
    scroll-padding-block-end: 0;
    padding-inline-end: 0;
    
    

  }
}
