.footer {
  background-color: var(--negro);
  padding: 5rem 0;
  margin-top: 5rem;
}
@media(min-width:768px) {
  .contenedor {
    display: flex;
    justify-content: space-between;
  }
}
.navegacion {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navegacion a {
  text-decoration: none;
  font-size: 2.8rem;
  color: var(--blanco);
  font-weight: 700;
}
.navegacion a:hover {
  color: var(--primary);

}
.copyright {
  font-size: 2.8rem;
  color: var(--blanco);
  font-weight: 700;
  
}
.list {
  display: flex;
  gap: 4rem;
  /*flex-direction: column;*/
  /*align-items: center;*/

}
.iconoInsta {
  background-image: url("../public/img/instagram-brands.svg");
  padding: 2rem; 
  font-size: 24px;
  padding-bottom: 0;
  background-repeat: no-repeat;


}
.iconoFace {
  background-image: url("../public/img/facebook-square-brands.svg");
  padding: 2rem; 
  font-size: 24px;
  padding-bottom: 0;
  background-repeat: no-repeat;

}
.iconoWhats {
  background-image: url("../public/img/whatsapp-brands.svg");
  padding: 2rem; 
  font-size: 24px;
  padding-bottom: 0;
  background-repeat: no-repeat;

}
.iconoLinke {
  background-image: url("../public/img/linkedin-brands.svg");
  padding: 2rem; 
  font-size: 24px;
  padding-bottom: 0;
  background-repeat: no-repeat;

}